{% extends "layout.html" %}
{% block body %}

  <!-- Navigation guide -->
  / <a href="/flights/delays/predict_kafka">Flight Delay Prediction with Kafka</a>

  <p class="lead" style="margin: 10px; margin-left: 0px;">
    <!-- Airline Name and website-->
    Predicting Flight Delays with Kafka
  </p>

  <!-- Generate form from search_config and request args -->
  <form class="form-inline" id="flight_delay_classification" action="/flights/delays/predict/classify_realtime" method="post">
  	<div class="form-group mt-1">
    {% for item in form_config %}
      {% if 'label' in item %}
        <label for="{{item['field']}}">{{item['label']}}</label>
      {% else %}
        <label for="{{item['field']}}">{{item['field']}}</label>
      {% endif %}
        <input name="{{item['field']}}" class="{{item['field']}}" 
        {% if 'value' in item %}
          value="{{item['value']}}"
        {% endif %}
        ></input>
    {% endfor %}
	</div>
    <button type="submit" class="btn btn-xs btn-primary ml-1">Submit</button>
  </form>

  <div class="mt-2">
    <p>Delay: <span id="result"></span></p>
  </div>

  <!-- Style -->
  <style>
  	input{
  		width:40px;
  		margin-left:5px;
  		margin-right:10px;
  	}
  	input.FlightDate{
  		width:120PX;
  	}

  </style>

{% endblock %}
